body{
  font-family: "Sarabun", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #d8d8d8;
  margin: 0;
  min-height: 100%;
  letter-spacing: 0.2px;
  z-index: 1;
  background-color: #141e27;
  /*background-image: -webkit-gradient(linear, left top, rigth top, from(#41295a), to(#2F0743));
  background-image: -webkit-linear-gradient(left, #41295a, #2F0743);*/
  padding: 0;
}

body .container{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center
}

body .ui-corner-all{
  border-radius: 0;
}

body .ui-panel{
  width: 450px;
  /*height: 400px;*/
  background: #141e27;
}

body .ui-panel-content input{
  margin-bottom: 1em;
  margin-top: .5em;
}

body .ui-card{
  margin-top: 1em;
}

body .ui-card-title{
  font-size: 17px;
  color: #B1C1C0;
}

body .ui-scrollpanel-content{
  font-size: 13px;
  /*color: #C0D1CF;*/
}

body .ui-button{
  background-color: #7E57C2;
  border: 1px solid #7E57C2;
}

body .ui-money-box .ui-button{
  width: 100px;
  text-align: center;
  margin: .2em;
  border-radius: 3px;
  position: relative;
  float: left;
  background-color: #6ebc3b;
  border-color: #6ebc3b;
  color: #ffffff;
}

body .ui-button {
  background-color: #7044bb;
  border: 1px solid transparent;
  font-size: 13px;
}

body .ui-button:enabled:hover{
  background-color: #7044bb;
  border-color: #7044bb;
  -webkit-box-shadow: 0 0 7px 0 #7E57C2;
}

body .ui-button:enabled:focus{
 -webkit-box-shadow: 0 0 7px 0 #7E57C2;
}

body .ui-panel .ui-panel-titlebar{
  border: 1px solid #121213;
  background-color: #1b3548;
  color: #B1C1C0;
}

body .ui-panel .ui-panel-content{
  background-color: #1c2937;
  border: 1px solid #121213;
  border-top: 0 none;
  color: #9fadb7;
}

body .ui-card{
  background-color: #141e27;
  border-radius: 8px;
}

body .ui-inputtext{
  background-color: #141e27;
  color: #d8d8d8;
  font-size: 14px;
  border: 1px solid #121213;
}

body .ui-spinner .ui-spinner-button.ui-button{
  z-index: auto;
  background: transparent;
  color: #acacac;
  border: none;
}

body .ui-inputtext:enabled:hover:not(.ui-state-disabled) {
  border: 1px solid #7E57C2;
}

body .ui-inputtext:enabled:focus:not(.ui-state-error){
  border-color: #7E57C2;
  -webkit-box-shadow: 0 0 7px 0 #7E57C2;
}
