body{
  font-family: "Sarabun", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #1b1c1e;
  margin: 0;
  min-height: 100%;
  letter-spacing: 0.2px;
  z-index: 1;
  background-color: #000046;
  background-image: -webkit-gradient(linear, left top, rigth top, from(#00F260), to(#0575E6));
  background-image: -webkit-linear-gradient(left, #00F260, #0575E6);
  padding: 0;
}

body .container{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center
}

body .ui-panel{
  width: 450px;
  /*height: 400px;*/
  background: #fff;
}

body .ui-panel-content input{
  margin-bottom: 1em;
  margin-top: .5em;
}

body .ui-card{
  margin-top: 1em;
}

body .ui-card-title{
  font-size: 17px;
  color: #B1C1C0;
}

body .ui-scrollpanel-content{
  font-size: 13px;
  /*color: #C0D1CF;*/
}

body .ui-button{
  background-color: #2a5298;
  border: 1px solid #2a5298;
}

body .ui-money-box .ui-button{
  width: 100px;
  text-align: center;
  margin: .2em;
  border-radius: 3px;
  position: relative;
  float: left;
  background-color: #6ebc3b;
  border-color: #6ebc3b;
  color: #ffffff;
}

body .ui-money-box .ui-button:enabled:hover{
  background-color: #2a5298;
  border-color: #2a5298;
}

body .ui-panel .ui-panel-titlebar{
  border: 1px solid #121213;
  background-color: #1b3548;
  color: #9fadb7;
}

body .ui-panel .ui-panel-content{
  background-color: #1c2937;
  border: 1px solid #121213;
  border-top: 0 none;
  color: #9fadb7;
}

body .ui-card{
  background-color: #141e27;
  border-radius: 8px;
}

body .ui-inputtext{
  background-color: #141e27;
  color: #d8d8d8;
  font-size: 14px;
  border: 1px solid #121213;
}

body .ui-spinner .ui-spinner-button.ui-button{
  z-index: auto;
  background: transparent;
  color: #acacac;
  border: none;
}
